div{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 20px;
    width: 260px;
}
.title{
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}
.submit{
    text-align: right;
}
