input#submit{
    background-color: #b9e4e3;
    border-bottom: 2px solid #b2b2b2;
    border-radius:5px;
    color: #444444;
    text-shadow: 0 1px 1px #ffffff;
}
input#submit:hover{
    background-color: #a0dbc4;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    color: #333333;
}
