body{
    background-color: #d4d0c6;
    background-image: url(Images/backdrop.gif);
    color: #665544;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
.wrapper{
    width: 720px;
    margin: 0 auto;
}
.header{
    margin: 40px 0 20px 0;
}
.entry{
    background-image: url(Images/shadow.png);
    background-position: bottom;
    background-repeat: no-repeat;
    float: left;
    height: 198px;
    margin: 10px;
    width: 220px;
}
figure{
    background-color: #e7e3d8;
    display: block;
    height: 170px;
    margin: 0;
    padding: 9px;
    text-align: left;
    width: 202px;
}
figure img{
    border: 1px solid #d6d6d6;
    height: 150px;
    width: 200px;
}
figcaption{
    background-image: url(Images/icon.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
